* {
    font-family: 'Merriweather', serif;
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    color: #383838;
    background-color:whitesmoke;
    margin:auto;
}

html {
    font-size: 62.5%;
    }



/* END OF GLOBAL */

form {
    max-width:95rem;
    margin:1.2rem auto;
    padding: 1rem 1rem;
    border-radius:.5rem; 
   
}

header {
    background-color:#2d3945;
    height:3rem;
    width:100%;
}

h1 {
    display: flex;
    justify-content:center;
    margin:auto;
    padding:1rem;
    font-size:.95rem;
    font-weight:400;
    color:#fff;
    
}

h2 {
    display:flex;
    justify-content:center;
    color:#2d3945;
    font-size:1.25rem;
    font-weight:700;
    margin:1.2rem auto;
}
label{
    color:	#909090;
    font-size: .95rem;
    margin: 1.2rem 0 .5rem 0;
    display: block;
    /* border: solid red 2px; */
   
}
.tagline {
    color:gray;
    margin:0 auto;
    text-align: center;
    font-size:.85rem;
    line-height: 1.2rem;
    width: 70%;
    
}
.thick-line {
    width:90%;
    margin:2rem auto .18rem auto;
    border-top: 3px solid #2d3945;
    
}
.thin-line {
    width:90%;
    margin:.025rem auto;
    border-top:1px solid #2d3945;
}
.one{
    border: none;
    display:block;
    padding:1rem;
    width:99%;
    margin:0 auto;
     
    
}
legend {
    display: block;
    border: none;
    font-size:1.25rem;
    font-weight:700;
    
    
}
.text, #select-state {
    width:99%;
    padding:.5rem;
    background-color: #E0E0E0;
    border-radius:5px;
    border:none;
}
.zip {
    width:50%;
    padding:.5rem;
    background-color: #E0E0E0;
    border-radius:5px;
    border:none;
}

.text:focus {
    border:none;
    border-bottom: solid #2d3945 2px;
}
.zip:focus {
    border:none;
    border-bottom: solid #2d3945 2px;
}

::-webkit-input-placeholder, #state-select { /* Chrome/Opera/Safari */
    color:	#A9A9A9;
    display:flex;
    
    font-weight:300;
    font-size:.65rem;
    
}
::placeholder {
    color:	#A9A9A9;
    display:flex;
    align-items:flex-end;
    padding:10rem 10.5rem;
}

/* input[type=text]:focus {
    
    background-color: #8842d5;  
} */
